body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f0f0f0;
    font-family: sans-serif;
}

.wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

.copy {
    margin: 15px;
}

.copy a {
    color: #949494;
    text-decoration: none;
    font-size: 18px;
}

.cp-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    padding: 48px;
    width: 104px;
    height: 104px;
    background: url("bgr.jpg") center no-repeat;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cp-container :focus {
    outline: 0;
    border: none;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0px, 52px, 104px, 0px);
    width: 104px;
    height: 104px;
    border-radius: 52px;
}

.cp-buffer-1,
.cp-buffer-2 {
    background: url("buffer.png") 0 0 no-repeat;
}

.cp-container .cp-fallback {
    background: url("progress_sprite.jpg") no-repeat;
    background-position: 0 104px;
}

.cp-progress-1,
.cp-progress-2 {
    background: url("progress.png") 0 0 no-repeat;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
    position: absolute;
    width: 104px;
    height: 104px;
}

.cp-circle-control {
    cursor: pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
    display: none;
    clip: rect(0px, 104px, 104px, 52px);
}

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback {
    clip: rect(auto, auto, auto, auto);
}

.cp-controls {
    margin: 0;
    padding: 26px;
}

.cp-controls li {
    display: block;
    list-style-type: none;
}

.cp-controls li a {
    position: relative;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    cursor: pointer;
}

.cp-controls .cp-play {
    background: url("controls.jpg") 0 0 no-repeat;
}

.cp-controls .cp-play:hover {
    background: url("controls.jpg") -50px 0 no-repeat;
}

.cp-controls .cp-pause {
    background: url("controls.jpg") 0 -50px no-repeat;
}

.cp-controls .cp-pause:hover {
    background: url("controls.jpg") -50px -50px no-repeat;
}

.cp-jplayer {
    width: 0;
    height: 0;
}